lib/flows/goodflow.json
[{"id":"98ab01f0.19342","type":"function","z":"c2b67ba0.29635","name":"Random","func":"return {payload : Math.floor(Math.random() * 2) + 1};","outputs":1,"noerr":0,"x":464.27783203125,"y":26.333328247070312,"wires":[["39835515.56a42a","34a25332.69a57c"]]},{"id":"39835515.56a42a","type":"function","z":"c2b67ba0.29635","name":"Store Variable 'Random'","func":"flow.set('random',msg.payload);","outputs":0,"noerr":0,"x":688.27783203125,"y":25.333328247070312,"wires":[]},{"id":"34a25332.69a57c","type":"switch","z":"c2b67ba0.29635","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":791.27783203125,"y":107.33332824707031,"wires":[["23fc54d0.4f3274","d041d39d.0f6b48"],["db380046.c0a28","397680a6.269d9"]]},{"id":"23fc54d0.4f3274","type":"change","z":"c2b67ba0.29635","name":"Simulate servo state LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"LEFT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1092.1666870117188,"y":195.4444122314453,"wires":[["4ddecbe9.3e6fec"]]},{"id":"db380046.c0a28","type":"change","z":"c2b67ba0.29635","name":"Simulate servo state RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"RIGHT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1093.9442749023438,"y":244.5555419921875,"wires":[["4ddecbe9.3e6fec","397680a6.269d9"]]},{"id":"5e3ff8bf.bbf4b","type":"inject","z":"c2b67ba0.29635","name":"Clock","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":139.2222900390625,"y":170.111083984375,"wires":[["173d518c.265a7e","c023b3ab.ece52"]]},{"id":"173d518c.265a7e","type":"function","z":"c2b67ba0.29635","name":"Store Variable 'clock'","func":"flow.set('clock',msg.payload);","outputs":0,"noerr":0,"x":385.27783203125,"y":132.3333282470703,"wires":[]},{"id":"8283f713.1ecea","type":"function","z":"c2b67ba0.29635","name":"Store Stop Time","func":"flow.set('stopTime',flow.get('clock'));","outputs":0,"noerr":0,"x":745.0556640625,"y":371.33331298828125,"wires":[]},{"id":"cd29bd99.5f512","type":"function","z":"c2b67ba0.29635","name":"Store Start Time","func":"flow.set('startTime',flow.get('clock'));","outputs":0,"noerr":0,"x":753.388916015625,"y":172.9999542236328,"wires":[]},{"id":"e7d9c617.d818f","type":"function","z":"c2b67ba0.29635","name":"Store Check Point 1 Time","func":"flow.set('check1Time',flow.get('clock'));\nif(flow.get('check1Pass') !== undefined)\n{\n    flow.set('check1Pass', flow.get('check1Pass' + 1))\n}\nelse\n{\n    flow.set('check1Pass', 0);\n}\nflow.set('check1', '1')","outputs":0,"noerr":0,"x":726.9444580078125,"y":521.3331909179688,"wires":[]},{"id":"4070befe.1ca92","type":"function","z":"c2b67ba0.29635","name":"Store Check Point 2 Time","func":"flow.set('check2Time',flow.get('clock'));\nif(flow.get('check2Pass') !== undefined)\n{\n    flow.set('check2Pass', flow.get('check2Pass' + 1))\n}\nelse\n{\n    flow.set('check2Pass', 0);\n}\nflow.set('check2', '1');","outputs":0,"noerr":0,"x":723.9444580078125,"y":576.3331298828125,"wires":[]},{"id":"4a804834.e8a288","type":"function","z":"c2b67ba0.29635","name":"Store Check Point 3 Time","func":"flow.set('check3Time',flow.get('clock'));\nif(flow.get('check3Pass') !== undefined)\n{\n    flow.set('check3Pass', flow.get('check3Pass' + 1))\n}\nelse\n{\n    flow.set('check3Pass', 0);\n}\nflow.set('check3', '1');","outputs":0,"noerr":0,"x":714.9444580078125,"y":638.3331298828125,"wires":[]},{"id":"7f1534be.63b5cc","type":"function","z":"c2b67ba0.29635","name":"Store Check Point 4 Time","func":"flow.set('check4Time',flow.get('clock'));\nif(flow.get('check4Pass') !== undefined)\n{\n    flow.set('check4Pass', flow.get('check4Pass' + 1))\n}\nelse\n{\n    flow.set('check4Pass', 0);\n}\nflow.set('check4', '1');","outputs":0,"noerr":0,"x":708.9444580078125,"y":702.3331298828125,"wires":[]},{"id":"1877eaa2.b775dd","type":"function","z":"c2b67ba0.29635","name":"Store Check Point 5 Time","func":"flow.set('check5Time',flow.get('clock'));\nif(flow.get('check5Pass') !== undefined)\n{\n    flow.set('check5Pass', flow.get('check5Pass' + 1))\n}\nelse\n{\n    flow.set('check5Pass', 0);\n}\nflow.set('check5', '1');","outputs":0,"noerr":0,"x":701.9444580078125,"y":769.3331298828125,"wires":[]},{"id":"1cd5d0fc.189cdf","type":"function","z":"c2b67ba0.29635","name":"Get servo random","func":"if(flow.get('random') == 1)\n{\n    return [{payload : '1'}, null]\n}\n\nif(flow.get('random') == 2)\n{\n    return [null, {payload : '2'}]\n}","outputs":2,"noerr":0,"x":721.3889770507812,"y":465.6666564941406,"wires":[["dbdc3db0.b4d828","84c3a01.925d86"],["d831da47.c38918","a5f19572.b7a57"]]},{"id":"dbdc3db0.b4d828","type":"change","z":"c2b67ba0.29635","name":"Simulate servo state SLIGHT LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"SLIGHT LEFT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1116.2222900390625,"y":445.9998779296875,"wires":[["4ddecbe9.3e6fec"]]},{"id":"d831da47.c38918","type":"change","z":"c2b67ba0.29635","name":"simulate servo state SLIGHT RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"SLIGHT RIGHT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1131.222412109375,"y":491.33331298828125,"wires":[["4ddecbe9.3e6fec"]]},{"id":"17faa966.6c875f","type":"ui_button","z":"c2b67ba0.29635","name":"","group":"5d6ff05b.9e773","order":0,"width":"6","height":"2","passthru":true,"label":"Reset","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"RESET","payloadType":"str","topic":"","x":549.7223510742188,"y":409.11102294921875,"wires":[["b6a74f3a.028b"]]},{"id":"87a3387b.29ee7","type":"ui_button","z":"c2b67ba0.29635","name":"","group":"5d6ff05b.9e773","order":0,"width":"6","height":"2","passthru":true,"label":"Start","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":548.3889770507812,"y":259.66656494140625,"wires":[["cd29bd99.5f512","c6ff7143.9872d8","3571f13b.0e6c66"]]},{"id":"2a9856a0.52a442","type":"ui_button","z":"c2b67ba0.29635","name":"","group":"5d6ff05b.9e773","order":0,"width":"6","height":"2","passthru":true,"label":"Stop","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":555.166748046875,"y":329.111083984375,"wires":[["8283f713.1ecea","78383ff6.f3d72"]]},{"id":"e60946bf.b1997","type":"ui_switch","z":"c2b67ba0.29635","name":"","label":"Checkpoint 1","tooltip":"","group":"c4d21ab2.e0b8f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":492.4444580078125,"y":543.2221374511719,"wires":[["e7d9c617.d818f","1cd5d0fc.189cdf","ac96e6a3.11fbf"]]},{"id":"84b80e2a.7bc438","type":"ui_switch","z":"c2b67ba0.29635","name":"","label":"Checkpoint 2","tooltip":"","group":"c4d21ab2.e0b8f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":486.0555419921875,"y":600.1109619140625,"wires":[["1cd5d0fc.189cdf","4070befe.1ca92","afd0b715.88b77"]]},{"id":"a5680cca.ba51a8","type":"ui_switch","z":"c2b67ba0.29635","name":"","label":"Checkpoint 3","tooltip":"","group":"c4d21ab2.e0b8f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":483.1666259765625,"y":662.6665344238281,"wires":[["4a804834.e8a288","99da8bd8.4ea67"]]},{"id":"d743b2cf.1a8ca","type":"ui_switch","z":"c2b67ba0.29635","name":"","label":"Checkpoint 4","tooltip":"","group":"c4d21ab2.e0b8f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":486.38885498046875,"y":724.1109313964844,"wires":[["7f1534be.63b5cc","dd686062.3953"]]},{"id":"d72bf94e.0dff2","type":"ui_switch","z":"c2b67ba0.29635","name":"","label":"Checkpoint 5","tooltip":"","group":"c4d21ab2.e0b8f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":483.83331298828125,"y":795.5553894042969,"wires":[["1877eaa2.b775dd","8955dc45.63ce7"]]},{"id":"4ddecbe9.3e6fec","type":"ui_text","z":"c2b67ba0.29635","group":"870a22d4.8e083","order":1,"width":0,"height":0,"name":"","label":"Servo State","format":"{{msg.payload}}","layout":"row-spread","x":1440.1666870117188,"y":426.8888854980469,"wires":[]},{"id":"22373041.fef9b","type":"ui_text","z":"c2b67ba0.29635","group":"6814778d.2b2518","order":1,"width":0,"height":0,"name":"","label":"Gate","format":"{{msg.payload}}","layout":"row-spread","x":1179.5556030273438,"y":292.77777099609375,"wires":[]},{"id":"c6ff7143.9872d8","type":"change","z":"c2b67ba0.29635","name":"Gate open command","rules":[{"t":"set","p":"payload","pt":"msg","to":"Open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":749.8334350585938,"y":265.88885498046875,"wires":[["22373041.fef9b","f85ba50b.07af8"]]},{"id":"3a47f76.15bda88","type":"change","z":"c2b67ba0.29635","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"CLOSED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":988.0556640625,"y":356.6666564941406,"wires":[["22373041.fef9b"]]},{"id":"f85ba50b.07af8","type":"delay","z":"c2b67ba0.29635","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":982.1668701171875,"y":316.5555725097656,"wires":[["3a47f76.15bda88"]]},{"id":"c023b3ab.ece52","type":"link out","z":"c2b67ba0.29635","name":"Clock1","links":["6173e686.7d2b9","cc1f95a6.eaa238"],"x":306.27783203125,"y":200.3333282470703,"wires":[]},{"id":"c2ac05af.5ab1b8","type":"function","z":"c2b67ba0.29635","name":"Reset","func":"flow.set('check1', '0');\nflow.set('check2', '0');\nflow.set('check3', '0');\nflow.set('check4', '0');\nflow.set('check5', '0');\nflow.set('start', 0);\nflow.set('stop', 0);\nflow.set('check1Pass', 0);\nflow.set('check2Pass', 0);\nflow.set('check3Pass', 0);\nflow.set('check4Pass', 0);\nflow.set('check5Pass', 0);\nreturn msg;","outputs":0,"noerr":0,"x":473.27783203125,"y":73.33332824707031,"wires":[]},{"id":"f3f6dde1.8ac23","type":"ui_text","z":"c2b67ba0.29635","group":"c9e874bf.9df68","order":1,"width":0,"height":0,"name":"","label":"Checkpoint 1","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"row-spread","x":1507.278076171875,"y":895.1110229492188,"wires":[]},{"id":"bec0aa11.1d1518","type":"ui_text","z":"c2b67ba0.29635","group":"c9e874bf.9df68","order":2,"width":0,"height":0,"name":"","label":"Checkpoint 2","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"row-spread","x":1505.2222900390625,"y":939.2220458984375,"wires":[]},{"id":"105b5842.c46fe8","type":"ui_text","z":"c2b67ba0.29635","group":"c9e874bf.9df68","order":3,"width":0,"height":0,"name":"","label":"Checkpoint 3","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"row-spread","x":1508.4443359375,"y":975.2221069335938,"wires":[]},{"id":"c9675477.06f96","type":"ui_text","z":"c2b67ba0.29635","group":"c9e874bf.9df68","order":4,"width":0,"height":0,"name":"","label":"Checkpoint 4","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"row-spread","x":1509.22216796875,"y":1014.3331909179688,"wires":[]},{"id":"ecc323f2.ebd0e","type":"ui_text","z":"c2b67ba0.29635","group":"c9e874bf.9df68","order":5,"width":0,"height":0,"name":"","label":"Checkpoint 5","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"row-spread","x":1512.0001220703125,"y":1059.4441528320312,"wires":[]},{"id":"78383ff6.f3d72","type":"function","z":"c2b67ba0.29635","name":"Store stop bit","func":"flow.set('stop', 1);\nreturn msg;","outputs":0,"noerr":0,"x":752.6112670898438,"y":311.6666259765625,"wires":[]},{"id":"ebb765f.ff07898","type":"mqtt out","z":"c2b67ba0.29635","name":"","topic":"cds/servo/command","qos":"","retain":"","broker":"651a69aa.e0775","x":1799.8331298828125,"y":261.2221984863281,"wires":[]},{"id":"d041d39d.0f6b48","type":"change","z":"c2b67ba0.29635","name":"Json LEFT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1467.0555419921875,"y":128.5555419921875,"wires":[["ebb765f.ff07898","992b29f7.4a6f78"]]},{"id":"d49c25e0.dc088","type":"mqtt in","z":"c2b67ba0.29635","name":"","topic":"cds/command","qos":"2","broker":"651a69aa.e0775","x":75,"y":300.8887939453125,"wires":[["f8a3ca51.e7df2"]]},{"id":"5eab39e1.b03e58","type":"switch","z":"c2b67ba0.29635","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":186.111083984375,"y":246.6666259765625,"wires":[["49d1af79.79c2d8"],["84820d0e.da31f8"],["22a44d33.fc5e8a"]]},{"id":"591f6bbc.dffda4","type":"mqtt in","z":"c2b67ba0.29635","name":"","topic":"cds/pi/checkpoint","qos":"2","broker":"651a69aa.e0775","x":86.111083984375,"y":575.1111145019531,"wires":[["a9ecf2e3.827fd8"]]},{"id":"397680a6.269d9","type":"change","z":"c2b67ba0.29635","name":"Json RIGHT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1443.111083984375,"y":178.55551147460938,"wires":[["ebb765f.ff07898","992b29f7.4a6f78"]]},{"id":"84c3a01.925d86","type":"change","z":"c2b67ba0.29635","name":"Json STRAIGH_LEFT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"STRAIGH_LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1456.5556640625,"y":232.111083984375,"wires":[["ebb765f.ff07898","992b29f7.4a6f78"]]},{"id":"a5f19572.b7a57","type":"change","z":"c2b67ba0.29635","name":"Json STRAIGH_RIGHT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"STRAIGH_RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1458.22265625,"y":287.22216796875,"wires":[["ebb765f.ff07898","992b29f7.4a6f78"]]},{"id":"cc1f95a6.eaa238","type":"link in","z":"c2b67ba0.29635","name":"","links":["c023b3ab.ece52"],"x":88.5,"y":945,"wires":[["ee539c84.031228"]]},{"id":"ee539c84.031228","type":"function","z":"c2b67ba0.29635","name":"Game runtime","func":"if(flow.get('start') == 1 && flow.get('stop') === 0)\n{\n    return {payload : Math.floor((msg.payload - flow.get('startTime'))/1000)};\n}\nif(flow.get('start') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":250.38894653320312,"y":946.8888549804688,"wires":[["1859eecb.779af9"]]},{"id":"3571f13b.0e6c66","type":"function","z":"c2b67ba0.29635","name":"Store start bit","func":"flow.set('start', 1);\nreturn msg;","outputs":0,"noerr":0,"x":755.6666259765625,"y":216.88888549804688,"wires":[]},{"id":"87d71323.05f5c","type":"ui_text","z":"c2b67ba0.29635","group":"5d6ff05b.9e773","order":3,"width":"6","height":"4","name":"","label":"Game time","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":631.5,"y":945,"wires":[]},{"id":"1859eecb.779af9","type":"function","z":"c2b67ba0.29635","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":444,"y":946,"wires":[["87d71323.05f5c"]]},{"id":"b7715fab.cb8de","type":"function","z":"c2b67ba0.29635","name":"Time slpit","func":"var min = parseInt(msg.payload / 60000);\nvar sec = parseInt((msg.payload - min * 60000) / 1000)\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1178.111083984375,"y":549.7776489257812,"wires":[["f3f6dde1.8ac23","c008e896.547468"]]},{"id":"654b0d69.fa952c","type":"function","z":"c2b67ba0.29635","name":"Time slpit","func":"var min = parseInt(msg.payload / 60000);\nvar sec = parseInt((msg.payload - min * 60000) / 1000)\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1185.77783203125,"y":602.7776489257812,"wires":[["bec0aa11.1d1518","570310f9.34ccc"]]},{"id":"576c955f.ba0c04","type":"function","z":"c2b67ba0.29635","name":"Time slpit","func":"var min = parseInt(msg.payload / 60000);\nvar sec = parseInt((msg.payload - min * 60000) / 1000)\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1184.6663818359375,"y":664.4443969726562,"wires":[["105b5842.c46fe8","3f9b4fbc.a0b79"]]},{"id":"9046ab52.8bbcc","type":"function","z":"c2b67ba0.29635","name":"Time slpit","func":"var min = parseInt(msg.payload / 60000);\nvar sec = parseInt((msg.payload - min * 60000) / 1000)\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1186.666748046875,"y":715.8887329101562,"wires":[["c9675477.06f96","7b9a875a.37"]]},{"id":"8bf880fd.f8b9c8","type":"function","z":"c2b67ba0.29635","name":"Time slpit","func":"var min = parseInt(msg.payload / 60000);\nvar sec = parseInt((msg.payload - min * 60000) / 1000)\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1187.888916015625,"y":777.7777099609375,"wires":[["ecc323f2.ebd0e","5481688b.9aaad"]]},{"id":"afd0b715.88b77","type":"function","z":"c2b67ba0.29635","name":"Timeshift","func":"var a = flow.get('check2Time');\nvar b = flow.get('startTime');\nreturn {payload : a - b};","outputs":1,"noerr":0,"x":940.111083984375,"y":606.66650390625,"wires":[["654b0d69.fa952c"]]},{"id":"ac96e6a3.11fbf","type":"function","z":"c2b67ba0.29635","name":"Timeshift","func":"var a = flow.get('check1Time');\nvar b = flow.get('startTime');\nreturn {payload : a - b};","outputs":1,"noerr":0,"x":943.111083984375,"y":551.66650390625,"wires":[["b7715fab.cb8de"]]},{"id":"99da8bd8.4ea67","type":"function","z":"c2b67ba0.29635","name":"Timeshift","func":"var a = flow.get('check3Time');\nvar b = flow.get('startTime');\nreturn {payload : a - b};","outputs":1,"noerr":0,"x":945.111083984375,"y":658.66650390625,"wires":[["576c955f.ba0c04"]]},{"id":"dd686062.3953","type":"function","z":"c2b67ba0.29635","name":"Timeshift","func":"var a = flow.get('check4Time');\nvar b = flow.get('startTime');\nreturn {payload : a - b};","outputs":1,"noerr":0,"x":945.111083984375,"y":712.66650390625,"wires":[["9046ab52.8bbcc"]]},{"id":"8955dc45.63ce7","type":"function","z":"c2b67ba0.29635","name":"Timeshift","func":"var a = flow.get('check5Time');\nvar b = flow.get('startTime');\nreturn {payload : a - b};","outputs":1,"noerr":0,"x":943.111083984375,"y":781.66650390625,"wires":[["8bf880fd.f8b9c8"]]},{"id":"7c2e7cb0.243384","type":"switch","z":"c2b67ba0.29635","name":"","property":"payload.sensor","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":303.2221984863281,"y":640.5554809570312,"wires":[["e60946bf.b1997"],["84b80e2a.7bc438"],["a5680cca.ba51a8"],["d743b2cf.1a8ca"],["d72bf94e.0dff2"]]},{"id":"a9ecf2e3.827fd8","type":"json","z":"c2b67ba0.29635","name":"","property":"payload","action":"","pretty":false,"x":179.88885498046875,"y":641.2220458984375,"wires":[["7c2e7cb0.243384"]]},{"id":"b6a74f3a.028b","type":"link out","z":"c2b67ba0.29635","name":"Reset","links":["3838d65e.f9983a","a8d44e5d.57e7d"],"x":638,"y":420.5555419921875,"wires":[]},{"id":"a8d44e5d.57e7d","type":"link in","z":"c2b67ba0.29635","name":"","links":["b6a74f3a.028b"],"x":1078.3334350585938,"y":1014.4444580078125,"wires":[["beedd468.9b239"]]},{"id":"beedd468.9b239","type":"change","z":"c2b67ba0.29635","name":"Reset Result Timer","rules":[{"t":"set","p":"payload.minute","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.second","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1232.77783203125,"y":1016.66650390625,"wires":[["f3f6dde1.8ac23","bec0aa11.1d1518","105b5842.c46fe8","c9675477.06f96","ecc323f2.ebd0e"]]},{"id":"c008e896.547468","type":"function","z":"c2b67ba0.29635","name":"Store checkpoint 1 time","func":"flow.set('checkpoint1Time', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1574.444580078125,"y":530,"wires":[["4dd4b7d8.082448"]]},{"id":"570310f9.34ccc","type":"function","z":"c2b67ba0.29635","name":"Store checkpoint 2 time","func":"flow.set('checkpoint2Time', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1568.888671875,"y":576.4444580078125,"wires":[["bd1a1603.8449e"]]},{"id":"3f9b4fbc.a0b79","type":"function","z":"c2b67ba0.29635","name":"Store checkpoint 3 time","func":"flow.set('checkpoint3Time', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1565.222412109375,"y":618.2222290039062,"wires":[["40d44e63.570e78"]]},{"id":"7b9a875a.37","type":"function","z":"c2b67ba0.29635","name":"Store checkpoint 4 time","func":"flow.set('checkpoint4Time', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1562.8887939453125,"y":663.6666870117188,"wires":[["1377088a.456617"]]},{"id":"5481688b.9aaad","type":"function","z":"c2b67ba0.29635","name":"Store checkpoint 5 time","func":"flow.set('checkpoint5Time', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1561.3331298828125,"y":710.2222290039062,"wires":[["833b9a1a.a2fbe8"]]},{"id":"3838d65e.f9983a","type":"link in","z":"c2b67ba0.29635","name":"","links":["b6a74f3a.028b"],"x":322.7778015136719,"y":55.555564880371094,"wires":[["98ab01f0.19342","c2ac05af.5ab1b8"]]},{"id":"afba9c0f.0d56e8","type":"mqtt out","z":"c2b67ba0.29635","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"651a69aa.e0775","x":2234.333984375,"y":573.3333129882812,"wires":[]},{"id":"4dd4b7d8.082448","type":"function","z":"c2b67ba0.29635","name":"Convert JSON to send","func":"if(msg.payload.minute !== undefined)\n{\n    if (flow.get('checkpoint1Time').second === 0 && flow.get('checkpoint1Time').minute === 0)\n    {\n        return {\n        payload :\n        {\n            stadium : \"G\",\n            channel : \"1\",\n            runtime : \"START:START\"\n        }\n        }\n    }\n    else\n    {\n        return {\n        payload : \n        {\n            stadium : \"G\",\n            channel : \"1\",\n            runtime : msg.payload.minute + ':' + msg.payload.second \n        }\n        \n    };\n    }\n}","outputs":1,"noerr":0,"x":1922.7774658203125,"y":519.3333129882812,"wires":[["afba9c0f.0d56e8"]]},{"id":"bd1a1603.8449e","type":"function","z":"c2b67ba0.29635","name":"Convert JSON to send","func":"if(msg.payload.minute !== undefined)\n{\n    if (flow.get('checkpoint2Time').second === 0 && flow.get('checkpoint2Time').minute === 0)\n    {\n        return {\n        payload :\n        {\n            stadium : \"G\",\n            channel : \"2\",\n            runtime : \"START:START\"\n        }\n        }\n    }\n    else\n    {\n        return {\n        payload : \n        {\n            stadium : \"G\",\n            channel : \"2\",\n            runtime : msg.payload.minute + ':' + msg.payload.second \n        }\n        \n    };\n}}\n","outputs":1,"noerr":0,"x":1923.887939453125,"y":569.22216796875,"wires":[["afba9c0f.0d56e8"]]},{"id":"40d44e63.570e78","type":"function","z":"c2b67ba0.29635","name":"Convert JSON to send","func":"if(msg.payload.minute !== undefined)\n{\n    if (flow.get('checkpoint3Time').second === 0 && flow.get('checkpoint3Time').minute === 0)\n    {\n        return {\n        payload :\n        {\n            stadium : \"G\",\n            channel : \"3\",\n            runtime : \"START:START\"\n        }\n        }\n    }\n    else\n    {\n        return {\n        payload : \n        {\n            stadium : \"G\",\n            channel : \"3\",\n            runtime : msg.payload.minute + ':' + msg.payload.second \n        }\n        \n    };\n}\n}\n","outputs":1,"noerr":0,"x":1924.666748046875,"y":610.666748046875,"wires":[["afba9c0f.0d56e8"]]},{"id":"1377088a.456617","type":"function","z":"c2b67ba0.29635","name":"Convert JSON to send","func":"if(msg.payload.minute !== undefined)\n{\n    if (flow.get('checkpoint4Time').second === 0 && flow.get('checkpoint4Time').minute === 0)\n    {\n        return {\n        payload :\n        {\n            stadium : \"G\",\n            channel : \"4\",\n            runtime : \"START:START\"\n        }\n        }\n    }\n        return {\n        payload : \n        {\n            stadium : \"G\",\n            channel : \"4\",\n            runtime : msg.payload.minute + ':' + msg.payload.second \n        }\n        \n    };\n}\n","outputs":1,"noerr":0,"x":1924.8890380859375,"y":654.2222900390625,"wires":[["afba9c0f.0d56e8"]]},{"id":"833b9a1a.a2fbe8","type":"function","z":"c2b67ba0.29635","name":"Convert JSON to send","func":"if(msg.payload.minute !== undefined)\n{\n    if (flow.get('checkpoint5Time').second === 0 && flow.get('checkpoint5Time').minute === 0)\n    {\n        return {\n        payload :\n        {\n            stadium : \"G\",\n            channel : \"5\",\n            runtime : \"START:START\"\n        }\n        }\n    }\n    else\n    {\n        return {\n        payload : \n        {\n            stadium : \"G\",\n            channel : \"5\",\n            runtime : msg.payload.minute + ':' + msg.payload.second \n        }\n        \n    };\n}}\n","outputs":1,"noerr":0,"x":1923.666748046875,"y":700.888916015625,"wires":[["afba9c0f.0d56e8"]]},{"id":"8a91bea.20f604","type":"comment","z":"c2b67ba0.29635","name":"Auto random position servo","info":"Haven't implement old system yet","x":1098.3333740234375,"y":23.33333587646484,"wires":[]},{"id":"f8a3ca51.e7df2","type":"json","z":"c2b67ba0.29635","name":"","property":"payload","action":"","pretty":false,"x":182.77780151367188,"y":357.7777099609375,"wires":[["5eab39e1.b03e58"]]},{"id":"49d1af79.79c2d8","type":"change","z":"c2b67ba0.29635","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":371.6666564941406,"y":252.22222900390625,"wires":[["87a3387b.29ee7"]]},{"id":"84820d0e.da31f8","type":"change","z":"c2b67ba0.29635","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":387.77777099609375,"y":318.8888854980469,"wires":[["2a9856a0.52a442"]]},{"id":"22a44d33.fc5e8a","type":"change","z":"c2b67ba0.29635","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":373.88897705078125,"y":402.44439697265625,"wires":[["17faa966.6c875f"]]},{"id":"992b29f7.4a6f78","type":"mqtt out","z":"c2b67ba0.29635","name":"","topic":"cds/servo/state","qos":"","retain":"","broker":"651a69aa.e0775","x":1771,"y":173,"wires":[]},{"id":"5d6ff05b.9e773","type":"ui_group","z":"","name":"Controllers","tab":"1e4b51b6.b0f3ae","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4d21ab2.e0b8f","type":"ui_group","z":"","name":"Checkpoints","tab":"fb5bb6c8.66fc08","order":2,"disp":true,"width":"6","collapse":false},{"id":"870a22d4.8e083","type":"ui_group","z":"","name":"Servo","tab":"fb5bb6c8.66fc08","order":2,"disp":true,"width":"6","collapse":false},{"id":"6814778d.2b2518","type":"ui_group","z":"","name":"Gate","tab":"fb5bb6c8.66fc08","order":3,"disp":true,"width":"6","collapse":false},{"id":"c9e874bf.9df68","type":"ui_group","z":"","name":"Results","tab":"ea699982.481c5","order":1,"disp":true,"width":"6","collapse":false},{"id":"651a69aa.e0775","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1e4b51b6.b0f3ae","type":"ui_tab","z":"","name":"Game Control Pannel","icon":"games","order":1,"disabled":false,"hidden":false},{"id":"fb5bb6c8.66fc08","type":"ui_tab","z":"","name":"Fake sensors","icon":"hearing","order":2,"disabled":false,"hidden":false},{"id":"ea699982.481c5","type":"ui_tab","z":"","name":"Checkpoint time","icon":"alarm","order":3,"disabled":false,"hidden":false}]