lib/flows/Pi_Green.json
[{"id":"1c89e921.b09b07","type":"mqtt in","z":"5315d1f7.e17838","name":"","topic":"cds/servo/command","qos":"2","broker":"651a69aa.e0775","x":143.16667005750878,"y":143.5555419921875,"wires":[["e0d131bd.2998"]]},{"id":"8eae336e.f4a668","type":"switch","z":"5315d1f7.e17838","name":"","property":"payload.angle","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STRAIGH_LEFT","vt":"str"},{"t":"eq","v":"STRAIGH_RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":608.3333740234375,"y":140.0000457763672,"wires":[["cd703d3c.2c8638"],["4c53c6a1.36043"],["bdf21f4d.0e713"],["a3e312ce.890148"]]},{"id":"cd703d3c.2c8638","type":"change","z":"5315d1f7.e17838","name":"LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":818.3334486219619,"y":92.22219848632812,"wires":[["955aa700.7f351"]]},{"id":"4c53c6a1.36043","type":"change","z":"5315d1f7.e17838","name":"RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":787.7778455946182,"y":141.11111450195312,"wires":[["955aa700.7f351"]]},{"id":"bdf21f4d.0e713","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":817.7778455946182,"y":187.77780151367188,"wires":[["955aa700.7f351"]]},{"id":"a3e312ce.890148","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":810.0000135633682,"y":233.33334350585938,"wires":[["955aa700.7f351"]]},{"id":"e0d131bd.2998","type":"json","z":"5315d1f7.e17838","name":"","property":"payload","action":"","pretty":false,"x":315.7221984863281,"y":154.88882446289062,"wires":[["57289d6e.7dd2b4"]]},{"id":"bec3c683.3edc9","type":"mqtt out","z":"5315d1f7.e17838","name":"","topic":"cds/pi/checkpoint","qos":"","retain":"","broker":"651a69aa.e0775","x":1125.222412109375,"y":584.9999389648438,"wires":[]},{"id":"fd33f4d2.08572","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":815.8889770507812,"y":448.22222900390625,"wires":[["bec3c683.3edc9"]]},{"id":"288907fb.7986","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":641.3334350585938,"y":393.22216796875,"wires":[["fd33f4d2.08572"]]},{"id":"76f62201.c82ddc","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":417.22216796875,"y":448.8887939453125,"wires":[["288907fb.7986"]]},{"id":"d4b1c298.6bd648","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":203.88894653320312,"y":379.9998474121094,"wires":[["76f62201.c82ddc"]]},{"id":"b1355e17.c1b05","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":810.3334045410156,"y":533.7777709960938,"wires":[["bec3c683.3edc9"]]},{"id":"f43af896.2a361","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":411.6665954589844,"y":534.4443359375,"wires":[["4a21aafc.0848fc"]]},{"id":"231208a1.8de99","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":203.88888549804688,"y":501.11090087890625,"wires":[["f43af896.2a361"]]},{"id":"7c7268d8.9defe","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"3\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":819.2222595214844,"y":613.77783203125,"wires":[["bec3c683.3edc9"]]},{"id":"297022cc.bc04ee","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420.5554504394531,"y":614.4443969726562,"wires":[["58b05184.56a148"]]},{"id":"882d0795.79e548","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":213.888916015625,"y":585.555419921875,"wires":[["297022cc.bc04ee"]]},{"id":"4d934086.d74938","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG4","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"4\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":835.3333129882812,"y":707.6666870117188,"wires":[["bec3c683.3edc9"]]},{"id":"689d31a3.740db","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":406.66650390625,"y":703.333251953125,"wires":[["c4e738c0.785f5"]]},{"id":"8ae1d8d0.f2acf8","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":204.44439697265625,"y":679.9998779296875,"wires":[["689d31a3.740db"]]},{"id":"81620e85.86f4f8","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG5","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"5\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":825.77783203125,"y":776.6666870117188,"wires":[["bec3c683.3edc9"]]},{"id":"2f3341de.07b7ee","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":376.1109924316406,"y":783.333251953125,"wires":[["857fc7b8.fbb738"]]},{"id":"4eee8a01.290d04","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":189.44439697265625,"y":767.777587890625,"wires":[["2f3341de.07b7ee"]]},{"id":"57289d6e.7dd2b4","type":"switch","z":"5315d1f7.e17838","name":"","property":"payload.servo","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":464.9999694824219,"y":154.44439697265625,"wires":[["8eae336e.f4a668"],[]]},{"id":"4a21aafc.0848fc","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":632,"y":488,"wires":[["b1355e17.c1b05"]]},{"id":"58b05184.56a148","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":626,"y":572,"wires":[["7c7268d8.9defe"]]},{"id":"c4e738c0.785f5","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":635,"y":673,"wires":[["4d934086.d74938"]]},{"id":"857fc7b8.fbb738","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":621,"y":760,"wires":[["81620e85.86f4f8"]]},{"id":"a8be9b4.326d5e8","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":180.5,"y":433,"wires":[["76f62201.c82ddc"]]},{"id":"77d063a7.6d905c","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":179,"y":531,"wires":[["f43af896.2a361"]]},{"id":"ce394b59.e1b438","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"12","intype":"tri","debounce":"25","read":false,"x":181,"y":627,"wires":[["297022cc.bc04ee"]]},{"id":"473968dd.f9e348","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"16","intype":"tri","debounce":"25","read":false,"x":184,"y":718,"wires":[["689d31a3.740db"]]},{"id":"76c88e64.ca395","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"18","intype":"tri","debounce":"25","read":false,"x":187,"y":799,"wires":[["2f3341de.07b7ee"]]},{"id":"955aa700.7f351","type":"pi-gpiod out","z":"5315d1f7.e17838","name":"","host":"localhost","port":8888,"pin":"27","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","x":1070.5,"y":135,"wires":[]},{"id":"651a69aa.e0775","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]