lib/flows/Pi_Green2.json
[{"id":"1c89e921.b09b07","type":"mqtt in","z":"5315d1f7.e17838","name":"","topic":"cds/servo/command","qos":"2","broker":"651a69aa.e0775","x":110.16667175292969,"y":116.5555419921875,"wires":[["e0d131bd.2998"]]},{"id":"8eae336e.f4a668","type":"switch","z":"5315d1f7.e17838","name":"Choose angle","property":"payload.angle","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STRAIGH_LEFT","vt":"str"},{"t":"eq","v":"STRAIGH_RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":729.3333740234375,"y":85.00004577636719,"wires":[["cd703d3c.2c8638"],["4c53c6a1.36043"],["bdf21f4d.0e713"],["a3e312ce.890148"]]},{"id":"cd703d3c.2c8638","type":"change","z":"5315d1f7.e17838","name":"LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":928.3334350585938,"y":54.222198486328125,"wires":[["e0d5d71a.7d6948"]]},{"id":"4c53c6a1.36043","type":"change","z":"5315d1f7.e17838","name":"RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":951.77783203125,"y":95.11111450195312,"wires":[["e0d5d71a.7d6948"]]},{"id":"bdf21f4d.0e713","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":927.77783203125,"y":149.77780151367188,"wires":[["e0d5d71a.7d6948"]]},{"id":"a3e312ce.890148","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":195.33334350585938,"wires":[["e0d5d71a.7d6948"]]},{"id":"e0d131bd.2998","type":"json","z":"5315d1f7.e17838","name":"","property":"payload","action":"","pretty":false,"x":280.7221984863281,"y":155.88882446289062,"wires":[["57289d6e.7dd2b4"]]},{"id":"bec3c683.3edc9","type":"mqtt out","z":"5315d1f7.e17838","name":"","topic":"cds/pi/checkpoint","qos":"","retain":"","broker":"651a69aa.e0775","x":1116.222412109375,"y":697.9999389648438,"wires":[]},{"id":"fd33f4d2.08572","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":806.8889770507812,"y":561.2222290039062,"wires":[["bec3c683.3edc9"]]},{"id":"288907fb.7986","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":632.3334350585938,"y":506.22216796875,"wires":[["fd33f4d2.08572"]]},{"id":"76f62201.c82ddc","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":408.22216796875,"y":561.8887939453125,"wires":[["288907fb.7986"]]},{"id":"d4b1c298.6bd648","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":194.88894653320312,"y":492.9998474121094,"wires":[["76f62201.c82ddc"]]},{"id":"b1355e17.c1b05","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":801.3334045410156,"y":646.7777709960938,"wires":[["bec3c683.3edc9"]]},{"id":"f43af896.2a361","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":402.6665954589844,"y":647.4443359375,"wires":[["4a21aafc.0848fc"]]},{"id":"231208a1.8de99","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":194.88888549804688,"y":614.1109008789062,"wires":[["f43af896.2a361"]]},{"id":"7c7268d8.9defe","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"3\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":810.2222595214844,"y":726.77783203125,"wires":[["bec3c683.3edc9"]]},{"id":"297022cc.bc04ee","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":411.5554504394531,"y":727.4443969726562,"wires":[["58b05184.56a148"]]},{"id":"882d0795.79e548","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":204.888916015625,"y":698.555419921875,"wires":[["297022cc.bc04ee"]]},{"id":"4d934086.d74938","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG4","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"4\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":826.3333129882812,"y":820.6666870117188,"wires":[["bec3c683.3edc9"]]},{"id":"689d31a3.740db","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":397.66650390625,"y":816.333251953125,"wires":[["c4e738c0.785f5"]]},{"id":"8ae1d8d0.f2acf8","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195.44439697265625,"y":792.9998779296875,"wires":[["689d31a3.740db"]]},{"id":"81620e85.86f4f8","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG5","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"5\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":816.77783203125,"y":889.6666870117188,"wires":[["bec3c683.3edc9"]]},{"id":"2f3341de.07b7ee","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":367.1109924316406,"y":896.333251953125,"wires":[["857fc7b8.fbb738"]]},{"id":"4eee8a01.290d04","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180.44439697265625,"y":880.777587890625,"wires":[["2f3341de.07b7ee"]]},{"id":"57289d6e.7dd2b4","type":"switch","z":"5315d1f7.e17838","name":"Field Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":234.44439697265625,"wires":[["8dc785fc.f1df1"],[]]},{"id":"4a21aafc.0848fc","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":623,"y":601,"wires":[["b1355e17.c1b05"]]},{"id":"58b05184.56a148","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":617,"y":685,"wires":[["7c7268d8.9defe"]]},{"id":"c4e738c0.785f5","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":626,"y":786,"wires":[["4d934086.d74938"]]},{"id":"857fc7b8.fbb738","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":612,"y":873,"wires":[["81620e85.86f4f8"]]},{"id":"a8be9b4.326d5e8","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":171.5,"y":546,"wires":[["76f62201.c82ddc"]]},{"id":"77d063a7.6d905c","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":170,"y":644,"wires":[["f43af896.2a361"]]},{"id":"ce394b59.e1b438","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"12","intype":"tri","debounce":"25","read":false,"x":172,"y":740,"wires":[["297022cc.bc04ee"]]},{"id":"473968dd.f9e348","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"16","intype":"tri","debounce":"25","read":false,"x":175,"y":831,"wires":[["689d31a3.740db"]]},{"id":"76c88e64.ca395","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"18","intype":"tri","debounce":"25","read":false,"x":178,"y":912,"wires":[["2f3341de.07b7ee"]]},{"id":"e0d5d71a.7d6948","type":"debug","z":"5315d1f7.e17838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1179.5,"y":122,"wires":[]},{"id":"8dc785fc.f1df1","type":"switch","z":"5315d1f7.e17838","name":"Servo 1 or 2?","property":"payload.servo","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":573,"y":166,"wires":[["8eae336e.f4a668"],["4ab7038e.4e3b8c"]]},{"id":"4ab7038e.4e3b8c","type":"switch","z":"5315d1f7.e17838","name":"Choose angle","property":"payload.angle","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STRAIGH_LEFT","vt":"str"},{"t":"eq","v":"STRAIGH_RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":716,"y":272,"wires":[["e0a24c56.006e08"],["4b743e00.6f57b4"],["b6f22e55.de99d8"],["6d5dce8d.ede198"]]},{"id":"e0a24c56.006e08","type":"change","z":"5315d1f7.e17838","name":"LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":915.0000610351562,"y":241.22215270996094,"wires":[["72c9db5b.cb0934"]]},{"id":"4b743e00.6f57b4","type":"change","z":"5315d1f7.e17838","name":"RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":938.4444580078125,"y":282.11106872558594,"wires":[["72c9db5b.cb0934"]]},{"id":"b6f22e55.de99d8","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":914.4444580078125,"y":336.7777557373047,"wires":[["72c9db5b.cb0934"]]},{"id":"6d5dce8d.ede198","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":906.6666259765625,"y":382.3332977294922,"wires":[["72c9db5b.cb0934"]]},{"id":"72c9db5b.cb0934","type":"debug","z":"5315d1f7.e17838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1166.1666259765625,"y":308.9999542236328,"wires":[]},{"id":"651a69aa.e0775","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]